<div class="small-container center-block">
    <h2>Listado de Articulos</h2>

    <div class="mb-2">
        <%= link_to "Nuevo", articles_new_path, class: "btn btn-primary" %>
    </div>
    
    <%= render @articles %>

</div>