<div class="small-container center-block">

    <h2><%= @article.title %></h2>

    <p><%= @article.content %></p>

    <div class="d-flex gap-2">
        <%= link_to "Editar", article_edit_path, class: "btn btn-primary" %>
        <%= button_to "Eliminar", @article, method: :delete, class: "btn btn-danger" %>
    </div>
    
</div>