<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">Blog</a>
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarMenuItems">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMenuItems">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <%= link_to "Articulos", articles_path, class: "nav-link active" %>
                </li>
            </ul>
        </div>
    </div>
</nav>
