@import "bootstrap/dist/css/bootstrap";

.center-block {
    margin: 0 auto;
}

.large-container {
    width: 100%;
    max-width: 960px;
}

.small-container {
    width: 100%;
    max-width: 650px;
}

.padding {
    padding: 10px 15px;
}