<div id="<%= dom_id category %>" class="card padding mb-3">

  <h5 class="text-uppercase"><%= category.title %></h5>

  <p class="text-secondary"><%= category.created_at %></p>
  
  <%= link_to "Ver", category %>

</div>
