<div class="small-container center-block padding">

  <h2>Categorias</h2>

  <div class="mb-3">
    <%= link_to "Nuevo", new_category_path, class: "btn btn-primary" %>
  </div>

  <div class="mb-3">
      <%= render @categories %>
  </div>
  
</div>
